body {
    background-color: #333;
    color: #ddd;
    font-family: 'Courier New', monospace;
    padding: 20px;
    margin: 0;
}

h1 {
    color: #2ecc71;
}

form {
    margin-top: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #2ecc71;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #2ecc71;
    border-radius: 5px;
    background-color: #444;
    color: #ddd;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}

div {
    margin-top: 20px;
}

pre {
    background-color: #444;
    padding: 15px;
    border-radius: 5px;
    white-space: pre-wrap;
}

#settings {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #2ecc71;
    cursor: pointer;
}

#colorPickerContainer {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
}

#colorPicker {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 10px;
}
