<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskWebGui App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskWebGui App</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <div id="settings" onclick="toggleSettings()">⚙️</div>

    <div id="colorPickerContainer">
        <input type="color" id="colorPicker" onchange="changeColor(this.value)">
    </div>

    <h1>{{ message }}</h1>

    <form action="/send_command" method="post">
        <label for="command">Enter Command:</label>
        <input type="text" id="command" name="command" required>
        <button type="submit">Send Command</button>
    </form>

    <div>
        <pre>{{ output }}</pre>
    </div>

</body>
</html>
